# CodeIgniter4 writable files
/writable/cache/*
/writable/logs/*
/writable/session/*
/writable/debugbar/*

# Ignore but keep index.html (biar folder tetap ada)
!/writable/cache/index.html
!/writable/logs/index.html
!/writable/session/index.html
!/writable/debugbar/index.html
